*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    height: 50px;
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    align-items: center;
    list-style: none;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
}
.nav li a{
    text-decoration: none;
    color: black;
}
.div1{
    border: 2px solid;
    height: 250px;
    width: 280px;
    overflow: hidden;
    border-radius: 20px;
}
.div-main{
    display: grid;
    grid-template-columns: repeat(5,300px);
    padding-left: 20px;
}
 .div1 img:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
.div1 img{
    border-radius: 20px;
}

